.container-fluid{
    padding-bottom: 50px;
}
.transaction-grid{
    max-width: 700px;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;

    .col{
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: rgba(86,61,124,.15);
        border: 1px solid rgba(86,61,124,.2);
    }
}